<a href="https://colab.research.google.com/github/yianan261/CS6220/blob/main/Copy_of_Assignment_1_Starter_Kit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#@title Download the data from website
!wget -nc https://course.ccs.neu.edu/cs6220/fall2023/homework-1/netflix-data/movie_titles.csv
!wget -nc https://course.ccs.neu.edu/cs6220/fall2023/homework-1/netflix-data/combined_data_1.txt
!wget -nc https://course.ccs.neu.edu/cs6220/fall2023/homework-1/netflix-data/combined_data_2.txt
!wget -nc https://course.ccs.neu.edu/cs6220/fall2023/homework-1/netflix-data/combined_data_3.txt
!wget -nc https://course.ccs.neu.edu/cs6220/fall2023/homework-1/netflix-data/combined_data_4.txt

from IPython.display import clear_output
clear_output()

print("Data in combined_data_1.txt looks like this: \n")
!head -5 combined_data_1.txt

print("\n\nData in movie_titles.csv looks like this: \n")
!head -5 movie_titles.csv

Data in combined_data_1.txt looks like this:

1:
1488844,3,2005-09-06
822109,5,2005-05-13
885013,4,2005-10-19
30878,4,2005-12-26


Data in movie_titles.csv looks like this:

1,2003,Dinosaur Planet
2,2004,Isle of Man TT 2004 Review
3,1997,Character
4,1994,Paula Abdul's Get Up & Dance
5,2004,The Rise and Fall of ECW

In [ ]:
f = open("movie_titles.csv", encoding ="cp1252")
data_lines = open("combined_data_1.txt", "r").readlines()

In [ ]:
from datetime import date
#Testing
count = 0
with open(f"combined_data_1.txt", encoding ="cp1252") as f:
  data_lines = f.readlines()
  l = data_lines[1]
  print(date.fromisoformat(l.rstrip().split(",")[-1]).year)
  print(count)

2005
0

## 3.a. Total Records

In [ ]:
total_record = 0
for i in range(1,5):
  with open(f"combined_data_{i}.txt", encoding ="cp1252") as f:
    data_lines = f.readlines()
    for l in data_lines:
      if l.rstrip()[-1] == ":":
        continue
      else:
        total_record += 1
total_record

100480507

## 3.b. Unique Users

In [ ]:
unique_users = set()
for i in range(1,5):
  with open(f"combined_data_{i}.txt", encoding ="cp1252") as f:
    data_lines = f.readlines()
    for l in data_lines:
      if l.rstrip()[-1] == ":":
        continue
      else:
        unique_users.add(l.split(",")[0])

# print(unique_users)
print(len(unique_users))

480189

In [ ]:
#Testing cell
import pandas as pd
df = pd.read_csv("combined_data_1.txt")
for i in range(2,5):
  df = pd.concat([df, pd.read_csv(f"combined_data_{i}.txt")], axis=0)
df

                     1: 4500: 9211:      13368:
1488844 3.0  2005-09-06   NaN   NaN         NaN
822109  5.0  2005-05-13   NaN   NaN         NaN
885013  4.0  2005-10-19   NaN   NaN         NaN
30878   4.0  2005-12-26   NaN   NaN         NaN
823519  3.0  2004-05-03   NaN   NaN         NaN
...                 ...   ...   ...         ...
1790158 4.0         NaN   NaN   NaN  2005-11-01
1608708 3.0         NaN   NaN   NaN  2005-07-19
234275  1.0         NaN   NaN   NaN  2004-08-07
255278  4.0         NaN   NaN   NaN  2004-05-28
453585  2.0         NaN   NaN   NaN  2005-03-10

[100498273 rows x 4 columns]

No charts were generated by quickchart

## 3.c. Range of Years

In [ ]:
from datetime import date
max_year = 0
min_year = 3000

for i in range(1,5):
  with open(f"combined_data_{i}.txt", encoding ="cp1252") as f:
    data_lines = f.readlines()
    for l in data_lines:
      if l.rstrip()[-1] == ":":
        continue
      else:
        max_year = max(max_year, date.fromisoformat(l.rstrip().split(",")[-1]).year)
        min_year = min(min_year, date.fromisoformat(l.rstrip().split(",")[-1]).year)
print(max_year, min_year)

2005 1999

## 4.a. Movies with Unique Names

In [7]:
unique_names = set()
with open("movie_titles.csv", encoding ="cp1252") as f:
  data_lines = f.readlines()
  for l in data_lines:
    l = l.rstrip()
    target = -1
    target = l.find(",")
    target = l.find(",", target+1)
    # movie_name = l[target+1:]
    unique_names.add(l[target+1:])
  print(len(data_lines))
print(len(unique_names))

17770
17359

## 4.b. Movie Names that Refer to Four Different Movies

In [ ]:
unique_movies = dict()
with open("movie_titles.csv", encoding ="cp1252") as f:
  data_lines = f.readlines()
  for l in data_lines:
    l = l.rstrip()
    target = -1
    target = l.find(",")
    target = l.find(",", target+1)
    unique_movies[l[target+1:]] = unique_movies.get(l[target+1:],0) + 1
for k,v in unique_movies.items():
  if v == 4:
    print(k)

Hamlet
Treasure Island
Bad Company
Pinocchio
Peter Pan

## 5.a. Users that rated 200 movies

In [ ]:
unique_users = dict()
for i in range(1,5):
  with open(f"combined_data_{i}.txt", encoding ="cp1252") as f:
    data_lines = f.readlines()
    for l in data_lines:
      if l.rstrip()[-1] == ":":
        continue
      else:
        unique_users[l.split(",")[0]] = unique_users.get(l.split(",")[0],0) + 1
count = 0
for k,v in unique_users.items():
  if v == 200:
    print(k)
    count += 1

In [ ]:
count

605

## 5. b. Lowest User ID with Movies of 5 Star Ratings

In [ ]:
# Of these users, take the lowest user ID and print out the names of the movies that
# they liked the most (all 5 star ratings).

In [ ]:
seen_200 = []
for k,v in unique_users.items():
  if v == 200:
    seen_200.append(int(k))

In [ ]:
min(seen_200)

508

In [ ]:
loved_movie = set()
movie_id = -1
for i in range(1,5):
  with open(f"combined_data_{i}.txt", encoding ="cp1252") as f:
    data_lines = f.readlines()
    for l in data_lines:
      if l.rstrip()[-1] == ":":
        movie_id = l.rstrip()[:-1]
      else:
        words = l.split(",")
        if words[0] == "508" and words[1] == "5":
          print(movie_id)
          loved_movie.add(movie_id)

312
494
571
720
1865
2122
2158
2342
2452
2465
2743
2862
3282
3371
3917
4345
4633
4727
5237
5538
5601
5862
6029
6099
6974
7057
7230
7755
8387
8782
8846
8904
9818
10774
11521
11907
12084
12195
12232
12500
12852
12870
13856
14240
14358
14382
14550
14601
14671
14961
14999
15296
15339
16604
17174
17632
17764

In [ ]:
print(loved_movie)

{'13856', '17764', '12195', '17632', '14240', '11907', '9818', '571', '10774', '6974', '1865', '6099', '2743', '8387', '7230', '4345', '2342', '12232', '312', '7057', '8904', '15339', '8846', '2452', '3282', '14601', '494', '4727', '14999', '17174', '5237', '12084', '8782', '15296', '2862', '4633', '720', '2122', '11521', '12870', '7755', '3371', '14671', '16604', '2465', '12852', '2158', '14382', '14550', '5862', '3917', '5601', '14358', '14961', '12500', '5538', '6029'}

In [ ]:
movie_titles = []
with open("movie_titles.csv", encoding ="cp1252") as f:
  data_lines = f.readlines()
  for l in data_lines:
    l = l.rstrip()
    target = -1
    target = l.find(",")
    if l[:target] in loved_movie:
      target = l.find(",", target+1)
      movie_titles.append(l[target+1:])

In [ ]:
movie_titles

['High Fidelity',
 "Monty Python's The Meaning of Life: Special Edition",
 'American Beauty',
 'Roger & Me',
 'Eternal Sunshine of the Spotless Mind',
 'Being John Malkovich',
 'Vietnam: A Television History',
 'Super Size Me',
 'Lord of the Rings: The Fellowship of the Ring',
 'This Is Spinal Tap',
 'The Pianist',
 'The Silence of the Lambs',
 'Sideways',
 'Whale Rider',
 'Garden State',
 'Bowling for Columbine',
 'Gandhi',
 'Apocalypse Now Redux',
 'To Die For',
 "Monty Python's Life of Brian",
 'The Manchurian Candidate',
 'Memento',
 'Amelie',
 'Apocalypse Now',
 'The Usual Suspects',
 'Lord of the Rings: The Two Towers: Extended Edition',
 'The Lord of the Rings: The Fellowship of the Ring: Extended Edition',
 'Touching the Void',
 'Minority Report',
 'The Royal Tenenbaums',
 'Election',
 'Good Will Hunting',
 'L.A. Confidential',
 'Taxi Driver',
 'Lord of the Rings: The Two Towers',
 'Cabaret',
 'Adaptation',
 'The Accused',
 'Lost in Translation',
 "Boys Don't Cry",
 'To Be and To Have',
 "Schindler's List",
 'Raging Bull',
 'Lord of the Rings: The Return of the King',
 'Monty Python and the Holy Grail',
 'Raising Arizona',
 'The Shawshank Redemption: Special Edition',
 'Harold and Maude',
 'Downfall',
 'Lord of the Rings: The Return of the King: Extended Edition',
 'Monster',
 'Band of Brothers',
 'Three Kings',
 'Unforgiven',
 'Maria Full of Grace',
 'Days of Wine and Roses',
 'Shakespeare in Love']

In [ ]:
#testing cell
unique_movies = set()
d = dict()
with open("movie_titles.csv", encoding ="cp1252") as f:
  data_lines = f.readlines()
  for l in data_lines:
    row = l.rstrip().split(",")
    if len(row) > 3:
      print(l)

      d[row[2]] = d.get(row[2],0)+1
  print(d)
for k,v in d.items():
  if v == 4:
    print(k)