<a href="https://colab.research.google.com/github/yianan261/CS6220/blob/main/Copy_of_Assignment_1_Starter_Kit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#@title Download the data from website
!wget -nc https://course.ccs.neu.edu/cs6220/fall2023/homework-1/netflix-data/movie_titles.csv
!wget -nc https://course.ccs.neu.edu/cs6220/fall2023/homework-1/netflix-data/combined_data_1.txt
!wget -nc https://course.ccs.neu.edu/cs6220/fall2023/homework-1/netflix-data/combined_data_2.txt
!wget -nc https://course.ccs.neu.edu/cs6220/fall2023/homework-1/netflix-data/combined_data_3.txt
!wget -nc https://course.ccs.neu.edu/cs6220/fall2023/homework-1/netflix-data/combined_data_4.txt

from IPython.display import clear_output
clear_output()

print("Data in combined_data_1.txt looks like this: \n")
!head -5 combined_data_1.txt

print("\n\nData in movie_titles.csv looks like this: \n")
!head -5 movie_titles.csv

Data in combined_data_1.txt looks like this:

1:
1488844,3,2005-09-06
822109,5,2005-05-13
885013,4,2005-10-19
30878,4,2005-12-26


Data in movie_titles.csv looks like this:

1,2003,Dinosaur Planet
2,2004,Isle of Man TT 2004 Review
3,1997,Character
4,1994,Paula Abdul's Get Up & Dance
5,2004,The Rise and Fall of ECW

In [ ]:
f = open("movie_titles.csv", encoding ="cp1252")
data_lines = open("combined_data_1.txt", "r").readlines()

In [28]:
from datetime import date
#Testing
count = 0
with open(f"combined_data_1.txt", encoding ="cp1252") as f:
  data_lines = f.readlines()
  l = data_lines[1]
  print(date.fromisoformat(l.rstrip().split(",")[-1]).year)
  print(count)

2005
0

## 3.a. Total Records

In [23]:
total_record = 0
for i in range(1,5):
  with open(f"combined_data_{i}.txt", encoding ="cp1252") as f:
    data_lines = f.readlines()
    for l in data_lines:
      if l.rstrip()[-1] == ":":
        continue
      else:
        total_record += 1
total_record

100480507

## 3.b. Unique Users

In [24]:
unique_users = set()
for i in range(1,5):
  with open(f"combined_data_{i}.txt", encoding ="cp1252") as f:
    data_lines = f.readlines()
    for l in data_lines:
      if l.rstrip()[-1] == ":":
        continue
      else:
        unique_users.add(l.split(",")[0])

# print(unique_users)
print(len(unique_users))

480189

In [6]:
#Testing cell
import pandas as pd
df = pd.read_csv("combined_data_1.txt")
for i in range(2,5):
  df = pd.concat([df, pd.read_csv(f"combined_data_{i}.txt")], axis=0)
df

                     1: 4500: 9211:      13368:
1488844 3.0  2005-09-06   NaN   NaN         NaN
822109  5.0  2005-05-13   NaN   NaN         NaN
885013  4.0  2005-10-19   NaN   NaN         NaN
30878   4.0  2005-12-26   NaN   NaN         NaN
823519  3.0  2004-05-03   NaN   NaN         NaN
...                 ...   ...   ...         ...
1790158 4.0         NaN   NaN   NaN  2005-11-01
1608708 3.0         NaN   NaN   NaN  2005-07-19
234275  1.0         NaN   NaN   NaN  2004-08-07
255278  4.0         NaN   NaN   NaN  2004-05-28
453585  2.0         NaN   NaN   NaN  2005-03-10

[100498273 rows x 4 columns]

No charts were generated by quickchart

## 3.c. Range of Years

In [29]:
from datetime import date
max_year = 0
min_year = 3000

for i in range(1,5):
  with open(f"combined_data_{i}.txt", encoding ="cp1252") as f:
    data_lines = f.readlines()
    for l in data_lines:
      if l.rstrip()[-1] == ":":
        continue
      else:
        max_year = max(max_year, date.fromisoformat(l.rstrip().split(",")[-1]).year)
        min_year = min(min_year, date.fromisoformat(l.rstrip().split(",")[-1]).year)
print(max_year, min_year)

2005 1999

## 4.a. Movies with Unique Names

In [38]:
unique_movies = set()
with open("movie_titles.csv", encoding ="cp1252") as f:
  data_lines = f.readlines()
  for l in data_lines:
    l = l.rstrip()
    target = -1
    target = l.find(",")
    target = l.find(",", target+1)
    unique_movies.add(l[target+1:])
  print(len(data_lines))
print(len(unique_movies))

17770
17359

## 4.b. Movie Names that Refer to Four Different Movies

In [42]:
unique_movies = dict()
with open("movie_titles.csv", encoding ="cp1252") as f:
  data_lines = f.readlines()
  for l in data_lines:
    l = l.rstrip()
    target = -1
    target = l.find(",")
    target = l.find(",", target+1)
    unique_movies[l[target+1:]] = unique_movies.get(l[target+1:],0) + 1
for k,v in unique_movies.items():
  if v == 4:
    print(k)

Hamlet
Treasure Island
Bad Company
Pinocchio
Peter Pan

## 5.a. Users that rated 200 movies

In [ ]:
unique_users = dict()
for i in range(1,5):
  with open(f"combined_data_{i}.txt", encoding ="cp1252") as f:
    data_lines = f.readlines()
    for l in data_lines:
      if l.rstrip()[-1] == ":":
        continue
      else:
        unique_users[l.split(",")[0]] = unique_users.get(l.split(",")[0],0) + 1
count = 0
for k,v in unique_users.items():
  if v == 200:
    print(k)
    count += 1

In [44]:
count

605

## 5. b. Lowest User ID with Movies of 5 Star Ratings

In [ ]:
# Of these users, take the lowest user ID and print out the names of the movies that
# they liked the most (all 5 star ratings).

In [45]:
seen_200 = []
for k,v in unique_users.items():
  if v == 200:
    seen_200.append(int(k))

In [46]:
min(seen_200)

508

In [52]:
loved_movie = set()
movie_id = -1
for i in range(1,5):
  with open(f"combined_data_{i}.txt", encoding ="cp1252") as f:
    data_lines = f.readlines()
    for l in data_lines:
      if l.rstrip()[-1] == ":":
        movie_id = l.rstrip()[:-1]
      else:
        words = l.split(",")
        if words[0] == "508" and words[1] == "5":
          print(movie_id)
          loved_movie.add(movie_id)

312
494
571
720
1865
2122
2158
2342
2452
2465
2743
2862
3282
3371
3917
4345
4633
4727
5237
5538
5601
5862
6029
6099
6974
7057
7230
7755
8387
8782
8846
8904
9818
10774
11521
11907
12084
12195
12232
12500
12852
12870
13856
14240
14358
14382
14550
14601
14671
14961
14999
15296
15339
16604
17174
17632
17764

In [53]:
print(loved_movie)

{'13856', '17764', '12195', '17632', '14240', '11907', '9818', '571', '10774', '6974', '1865', '6099', '2743', '8387', '7230', '4345', '2342', '12232', '312', '7057', '8904', '15339', '8846', '2452', '3282', '14601', '494', '4727', '14999', '17174', '5237', '12084', '8782', '15296', '2862', '4633', '720', '2122', '11521', '12870', '7755', '3371', '14671', '16604', '2465', '12852', '2158', '14382', '14550', '5862', '3917', '5601', '14358', '14961', '12500', '5538', '6029'}

In [54]:
movie_titles = []
with open("movie_titles.csv", encoding ="cp1252") as f:
  data_lines = f.readlines()
  for l in data_lines:
    l = l.rstrip()
    target = -1
    target = l.find(",")
    if l[:target] in loved_movie:
      target = l.find(",", target+1)
      movie_titles.append(l[target+1:])

In [58]:
movie_titles

['High Fidelity',
 "Monty Python's The Meaning of Life: Special Edition",
 'American Beauty',
 'Roger & Me',
 'Eternal Sunshine of the Spotless Mind',
 'Being John Malkovich',
 'Vietnam: A Television History',
 'Super Size Me',
 'Lord of the Rings: The Fellowship of the Ring',
 'This Is Spinal Tap',
 'The Pianist',
 'The Silence of the Lambs',
 'Sideways',
 'Whale Rider',
 'Garden State',
 'Bowling for Columbine',
 'Gandhi',
 'Apocalypse Now Redux',
 'To Die For',
 "Monty Python's Life of Brian",
 'The Manchurian Candidate',
 'Memento',
 'Amelie',
 'Apocalypse Now',
 'The Usual Suspects',
 'Lord of the Rings: The Two Towers: Extended Edition',
 'The Lord of the Rings: The Fellowship of the Ring: Extended Edition',
 'Touching the Void',
 'Minority Report',
 'The Royal Tenenbaums',
 'Election',
 'Good Will Hunting',
 'L.A. Confidential',
 'Taxi Driver',
 'Lord of the Rings: The Two Towers',
 'Cabaret',
 'Adaptation',
 'The Accused',
 'Lost in Translation',
 "Boys Don't Cry",
 'To Be and To Have',
 "Schindler's List",
 'Raging Bull',
 'Lord of the Rings: The Return of the King',
 'Monty Python and the Holy Grail',
 'Raising Arizona',
 'The Shawshank Redemption: Special Edition',
 'Harold and Maude',
 'Downfall',
 'Lord of the Rings: The Return of the King: Extended Edition',
 'Monster',
 'Band of Brothers',
 'Three Kings',
 'Unforgiven',
 'Maria Full of Grace',
 'Days of Wine and Roses',
 'Shakespeare in Love']

In [7]:
#testing cell
unique_movies = set()
d = dict()
with open("movie_titles.csv", encoding ="cp1252") as f:
  data_lines = f.readlines()
  for l in data_lines:
    row = l.rstrip().split(",")
    if len(row) > 3:
      print(l)

      d[row[2]] = d.get(row[2],0)+1
  print(d)
for k,v in d.items():
  if v == 4:
    print(k)

72,1974,At Home Among Strangers, A Stranger Among His Own

264,2002,Angelina Ballerina: Lights, Camera, Action!

350,1993,Dr. Quinn, Medicine Woman: Season 3

366,2004,Still, We Believe: The Boston Red Sox Movie

394,1916,20,000 Leagues Under the Sea

466,1990,Doogie Howser, M.D.: Season 2

582,1986,Jo Jo Dancer, Your Life is Calling

600,1966,What's Up, Tiger Lily?

670,2002,He Loves Me, He Loves Me Not

672,1991,He Said, She Said

729,2000,Fast Food, Fast Women

776,1953,Dr. Seuss's The 5,000 Fingers of Dr. T

827,1994,C'est La Vie, Mon Cheri

834,1999,Niagara: Miracles, Myths & Magic: IMAX

891,2003,Zakk Wylde's Black Label Society: Boozed, Broozed & Broken-Boned

913,1979,Dead Kennedys: In God We Trust, Inc.

944,1975,Brother, Can You Spare a Dime?

973,1994,Dr. Martin Luther King, Jr.: A Historical Perspective

1010,2004,Sesame Street: Sing, Hoot & Howl

1015,1996,Dr. Quinn, Medicine Woman: Season 5

1058,1972,Play it Again, Sam

1095,2004,Vendetta: No Conscience, No Mercy

1170,1997,Truth or Consequences, N.M.

1210,1981,Zorro, The Gay Blade

1286,1997,Welcome Back, Mr. McDonald

1520,2003,Suze Orman: The Laws of Money, Lessons of Life

1559,1998,AFI's 100 Years, 100 Movies

1629,1997,Sesame Street: 1-2-3, Count with Me

1647,2002,Eric Clapton: One More Car, One More Rider

1654,1996,I Love You, I Love You Not

1658,1986,Yes, Prime Minister: The Complete Collection

1674,2003,Kiss Me, Kate

1745,2001,Love Me, Love My Money

1752,2000,It's Me, the Thief

2107,1981,Earth, Wind & Fire in Concert

2176,2000,VeggieTales: Esther, the Girl Who Became Queen

2178,1998,Lock, Stock and Two Smoking Barrels

2361,2002,Sex, Secrets, and Lies

2410,1998,Dancer, Texas

2428,1990,Shanghai, Shanghai

2433,2000,Harvey Birdman, Attorney at Law: Vol. 1

2462,1987,Planes, Trains and Automobiles

2598,2005,Baby Einstein: On the Go: Riding, Sailing and Soaring

2625,2002,Dragon Tales: Yes, We Can!

2628,1999,Now and Then, Here and There: Vol. 1: Discord and Doom

2691,2003,Empires: The Medici, Godfathers of the Renaissance

2722,2001,A Girl, 3 Guys and a Gun

2772,1968,Where Angels Go, Trouble Follows

2796,1934,Imitation of Life: Double Feature (1934, 1959)

2830,2005,Secrets of Angels, Demons & Masons

2854,1989,I, Madman

2878,2002,Now and Then, Here and There: Vol. 2: Flight and Fall

2889,1997,Fast, Cheap & Out of Control

2947,2005,Rugrats All Grown Up: Dude, Where's My Horse?

3023,1973,Upstairs, Downstairs: Season 3

3083,1978,Dirty Tiger, Crazy Frog

3140,1980,Fist of Fear, Touch of Death

3163,1980,Yes, Minister: Complete Collection

3227,1989,Enemies, A Love Story

3238,2000,Rage: 20 Years of Punk Rock, West Coast Style

3290,1974,The Godfather, Part II

3428,2004,Warren Miller: Bloopers, Blunders and Bailouts

3429,1996,Goodbye South, Goodbye

3440,1970,Hi, Mom!

3509,2002,U2: Go Home: Live From Slane Castle, Ireland

3561,2001,I Spit on Your Corpse, I Piss on Your Grave

3569,1964,Hush...Hush, Sweet Charlotte

3591,2003,Be Good, Smile Pretty

3595,1988,Elvira, Mistress of the Dark

3634,1988,Bright Lights, Big City

3880,1966,The Russians Are Coming, The Russians Are Coming

3933,2001,S.W.A.T.: L.A., Las Vegas, and Detroit

4005,1993,Dr. Quinn, Medicine Woman: Season 2

4029,1952,Come Back, Little Sheba

4059,1976,Ilsa, Harem Keeper of the Oil Sheiks

4105,2002,Ranma 1/2: Ranma Forever: Vol. 8: Someday, Somehow

4125,1999,Mary, Mother of Jesus

4153,1981,Tarzan, the Ape Man

4168,1995,VeggieTales Classics: Rack, Shack and Benny

4268,1993,Double, Double, Toil and Trouble

4325,1979,John McLaughlin, Larry Coryell and Paco De Lucia: Meeting of the Spirits

4335,2004,Jimmy Timmy Power Hour: Jimmy Neutron, Boy Genius / The Fairly Oddparents

4433,2004,Drive Well, Sleep Carefully: On the Road with Death Cab for Cutie

4436,2003,Modern Warfare: The Six Day War, Yom Kippur War

4444,2000,Best of Travels in Europe with Rick Steves: Greece, Turkey, Israel & Egypt

4518,1964,The Beatles: Washington D.C. Feb. 11th, 1964

4550,2000,Walker, Texas Ranger: The Final Season

4608,2002,Clifford: Look Out, Clifford! / Big Fun in the Sun

4651,1939,Goodbye, Mr. Chips

4933,1996,Pretty Village, Pretty Flame

4982,1990,Skinny Tiger, Fatty Dragon

4993,2004,Chicago with Earth, Wind & Fire: Live at the Greek Theatre

5087,1999,Mystery, Alaska

5223,1999,Girl, Interrupted

5334,2003,Elmo's World: Families, Mail & Bath Time

5404,2005,Usher: Rhythm City: Vol. 1: Money, Power, Respect

5485,2000,Chuck Jones: Extremes and in Betweens, a Life in Animation

5496,2004,I, Robot

5544,1989,See No Evil, Hear No Evil

5553,2000,Best of Travels in Europe with Rick Steves: Germany, Austria & Switzerland

5555,1990,Earth, Wind & Fire: Live in Japan

5624,1999,Sexo, Pudor y Lagrimas

5692,2000,Dude, Where's My Car?

5714,1974,Upstairs, Downstairs: Season 4

5778,1990,The Godfather, Part III

5912,1990,I, the Worst of All

5917,1980,Tinker, Tailor, Soldier, Spy

5966,1997,Other Voices, Other Rooms

5976,2003,Baby Songs: ABC, 123, Colors & Shapes

6110,1963,It's a Mad, Mad, Mad, Mad World

6111,1968,Don't Raise the Bridge, Lower the River

6281,1994,The Adventures of Priscilla, Queen of the Desert

6374,2002,South Park: Ghouls, Ghosts and Underpants Gnomes

6392,1965,I Spy: Vol. 20: So Long, Patrick Henry

6408,1987,Good Morning, Vietnam

6472,1993,Van Halen Live: Right Here, Right Now

6515,1997,Honey, We Shrunk Ourselves

6525,1994,Paris, France

6580,1989,Get Smart, Again!

6696,1976,Quincy, M.E.: Seasons 1 & 2

6772,1993,Ciao, Professore!

6777,1998,Sublime: Stories, Tales, Lies, Exaggeration

6924,2000,It's the Pied Piper, Charlie Brown

7096,2001,On Any Sunday: Motocross, Malcolm and More

7116,2004,ABC News Presents: Jesus, Mary and Da Vinci

7213,1999,I, Zombie

7378,2002,Jamie Foxx Unleashed: Lost, Stolen and Leaked!

7474,2000,South of Heaven, West of Hell

7530,2003,Good Times, Bed Times

7653,2003,CKY: Infiltrate, Destroy, Rebuild: The Video Album

7767,2000,O Brother, Where Art Thou?

7834,2002,Video Visits: Merida, Cancun and Belize

8006,1962,Hans Brinker, or the Silver Skates

8048,1965,Ladies and Gentlemen, Mr. Leonard Cohen

8094,1967,Easy Come, Easy Go

8108,2001,Monsters, Inc.: Bonus Material

8114,1999,A Man, a Plan, a Canal, Panama: Nova

8188,1994,He's a Woman, She's a Man

8294,2003,Remember Me, My Love

8338,2004,Bill Hicks Live: Satirist, Social Critic, Stand-up Comedian

8410,1933,Hallelujah, I'm a Bum

8478,2002,Earth, Wind & Fire: Live by Request

8511,1958,The Long, Hot Summer

8557,2003,VeggieTales: Bible Heroes: Lions, Shepherds and Queens

8588,1978,Satyam, Shivam, Sundaram

8655,1998,Blood, Guts, Bullets & Octane

8683,1966,It's the Great Pumpkin, Charlie Brown

8688,1986,Manon of the Spring (Jean de Florette, Part II)

8690,2003,Ashtanga, NY

8733,1989,Doogie Howser, M.D.: Season 1

8806,1966,The Good, the Bad and the Ugly

8812,1984,Murder, She Wrote: Season 1

8824,2001,Godzilla, Mothra and King Ghidorah: Giant Monsters All Out Attack

8858,2003,Johnny Cash: At Town Hall Party, 1958 & 1959

8871,2001,God is Great, I'm Not

8873,2004,Crosby, Stills & Nash: The Acoustic Concert

8889,1976,Mother, Jugs and Speed

8899,2000,Johnny Cash: The Man, His World, His Music

8908,1969,Hello, Dolly!

8909,2001,My Schoolmate, the Barbarian

8911,2004,Wake Up, Ron Burgundy

8965,2004,The Good, the Bad and the Beautiful / The Bikini Academy: Double Feature

9075,1969,Go, Go, Second Time Virgin

9106,1944,Murder, My Sweet

9367,1987,Like Father, Like Son

9398,2004,Bobby Jones, Stroke of Genius

9403,2004,Bikini Bandits: Briefs, Shorts & Panties

9460,2005,Lucinda Williams: Live from Austin, TX

9489,1974,Dirty Mary, Crazy Larry

9500,2002,20,000 Leagues Under the Sea

9582,1976,I, Claudius

9595,1999,My Father, My Mother, My Brothers and My Sisters

9604,1997,A Gun, a Car, a Blonde

9695,1998,A Cool, Dry Place

9713,1993,Blood In, Blood Out

9739,2003,Lucy Must Be Traded, Charlie Brown

9760,1997,Caroline Myss, Ph.D.: Why People Don't Heal / Three Levels of Power

9868,2004,The Magic School Bus: Bugs, Bugs, Bugs!

9976,2003,Elmo's World: Elmo Has Two! Hands, Ears & Feet

10044,1995,To Wong Foo, Thanks for Everything! Julie Newmar

10087,1997,Dr. Quinn, Medicine Woman: Season 6

10097,2004,Dude, Where's the Party?

10223,2004,Cheating Death, Stealing Life: The Eddie Guerrero Story

10321,1975,Upstairs, Downstairs: Season 5

10369,1972,Upstairs, Downstairs: Season 2

10557,1994,Good Night, Gorilla

10564,1991,Truly, Madly, Deeply

10619,1996,Sgt. Kabukiman, N.Y.P.D.

10649,1970,Count Yorga, Vampire

10676,1933,The Kennel Murder Case / Nancy Drew, Reporter: Double Feature

10690,1998,Kipper: Pools, Parks & Picnics

10795,1999,Babar, King of the Elephants

10839,2003,Picasso: Magic, Sex, Death

10860,1989,The Cook, the Thief, His Wife, and Her Lover

10887,1980,Oh, God! Book II

10941,2005,National Geographic: Guns, Germs and Steel

10948,2003,Easy Riders, Raging Bulls

10950,1966,I, A Woman

10967,1990,White Hunter, Black Heart

11083,2003,Goodbye, Mr. Chips

11089,2001,Monsters, Inc.

11114,1954,20,000 Leagues Under the Sea

11116,2002,Live at Knebworth: Parts One, Two & Three

11176,1989,Honey, I Shrunk the Kids

11206,1977,New York, New York

11298,2004,Sesame Street: A Celebration of Me, Grover!

11333,1972,Now You See Him, Now You Don't

11353,1999,Indigo Girls: Live at the Fillmore, Denver

11362,2000,Kids in the Hall: Same Guys, New Dresses

11405,1998,Six Days, Seven Nights

11583,1984,Another State of Mind: Social Distortion, Youth Brigade and Minor Threat

11646,1974,Sizzle Beach, USA

11688,1957,Heaven Knows, Mr. Allison

11714,2000,Love, Honor and Obey

11883,2005,Sesame Street: Elmo's World: Food, Water & Exercise!

11917,2002,The Magic School Bus: Creepy, Crawly Fun

11983,1961,One, Two, Three

11996,1972,Black Mama, White Mama

12031,2002,Scotland, PA

12209,2003,Quick Toning: Abs, Arms & Lower Body of Steel

12218,1958,Run Silent, Run Deep

12353,1990,DeJohnette, Hancock, Holland, Metheny: In Concert

12413,1993,The Wonderful, Horrible Life of Leni Riefenstahl

12423,1993,Dr. Quinn, Medicine Woman: Season 1

12510,1999,Sesame Street: Babies, Dogs & More

12531,1991,Eerie, Indiana

12586,1971,Upstairs, Downstairs: Season 1

12619,1938,The Three Stooges: Healthy, Wealthy and Dumb

12691,1981,Vernon, Florida

12692,2001,Hi, Dharma!

12693,1972,What's Up, Doc?

12715,2003,Great People of the Bible: Abraham, Sarah, Isaac, Jacob & Joseph

12850,2003,Love, Sex & Eating the Bones

12880,2001,Mitr, My Friend

12884,1948,Sorry, Wrong Number

12916,1975,Sheba, Baby

12976,1968,Yours, Mine and Ours

13024,1973,Scream, Blacula, Scream!

13104,1989,Thelonious Monk: Straight, No Chaser

13151,2002,Britney Baby, One More Time

13173,1989,The Toxic Avenger, Part 3

13202,1960,The 1,000 Eyes of Dr. Mabuse

13209,1972,Brother Sun, Sister Moon

13231,1977,Ilsa, the Wicked Warden

13263,2003,Motley Crue: Lewd, Crued & Tattooed

13314,2001,Sedona, The Spirit of Wonder: IMAX

13345,1978,Langrishe, Go Down

13364,2003,Jasper, Texas

13428,1969,Dracula, Dirty Old Man / Guess What Happened to Count Dracula

13482,2004,Bob the Builder: Dig, Lift, Haul

13504,2004,House, M.D.: Season 1

13554,1994,Car 54, Where Are You?

13572,1959,Suddenly, Last Summer

13693,2000,Perfect Murder, Perfect Town

13781,1995,Steal Big, Steal Little

13802,2002,Zone of the Enders: Dolores, i

13940,1969,Goodbye, Columbus

13977,1966,To Sir, with Love

13988,2005,Sex, Politics & Cocktails

13997,1993,Bodies, Rest & Motion

14040,1993,Faraway, So Close!

14172,1964,Kiss Me, Stupid

14249,2002,10,000 Black Men Named George

14264,2004,Spring, Summer, Fall, Winter ... and Spring

14290,2001,Sesame Street: Elmo's World: Birthdays, Games & More

14327,1984,Paris, Texas

14418,1966,The Good, the Bad and the Ugly: Bonus Material

14464,1995,Stevie Ray Vaughan and Double Trouble: Live from Austin, Texas

14493,2005,Best of MADtv: Seasons 8, 9 and 10

14508,2004,Changing Rooms: Trust Me, I'm a Designer

14584,1999,South Park: Bigger, Longer and Uncut

14612,1960,Jazz Casual: Basie, Gillespie, Coltrane

14746,2004,New Crouching Tiger, Hidden Dragon

14809,1966,Walk, Don't Run

14965,1932,Tarzan, the Ape Man / Tarzan Escapes (Double Feature)

14981,1995,Cry, the Beloved Country

15023,2005,He Say, She Say, But What Does God Say?

15119,2000,Play to Win: Secrets of Playing Slots, Blackjack & Craps

15122,2002,Stan Lee's Mutants, Monsters & Marvels

15174,1953,The Beast from 20,000 Fathoms

15193,1928,Steamboat Bill, Jr.

15218,1998,Bear in the Big Blue House: Shapes, Sounds & Colors with Bear

15274,2003,Martha, Inc.

15333,1999,Samurai X: Trust and Betrayal, Director's Cut

15372,1999,Now and Then, Here and There: Vol. 3: Conflict and Chaos

15401,2002,Dave Matthews Band: Live at Folsom Field Boulder, Colorado

15405,1974,Cornbread, Earl and Me

15416,2000,God, the Devil & Bob: The Complete Series

15424,1989,sex, lies, and videotape

15503,1975,Aloha, Bobby and Rose

15625,2002,Keep the Faith, Baby

15659,1962,Judy, Frank and Dean: Once in a Lifetime

15764,2003,Legally Blonde 2: Red, White & Blonde

15766,1945,Objective, Burma!

15796,1968,The One and Only, Genuine, Original Family Band

15905,1989,The Toxic Avenger, Part 2

15984,2005,Milwaukee, Minnesota

15985,1978,Same Time, Next Year

16071,1998,Always Outnumbered, Always Outgunned

16073,1992,Emerson, Lake & Palmer: Welcome Back

16099,2002,Don't Ask, Don't Tell (Attack of the Gay Space Invaders)

16140,2001,Bellydance Fitness for Beginners: Arms, Abs, Hips, Buns & Thighs

16144,1984,Greystoke: The Legend of Tarzan, Lord of the Apes

16218,1995,Dr. Quinn, Medicine Woman: Season 4

16258,2002,Frank McKlusky, C.I.

16272,2000,Crouching Tiger, Hidden Dragon

16305,1999,AFI's 100 Years, 100 Stars

16316,1974,Ilsa, She Wolf of the SS

16361,2003,Good Bye, Lenin!

16385,1994,Earth, Wind and Fire: Live

16416,1999,Late August, Early September

16441,1992,Honey, I Blew Up the Kid

16445,2003,House of 1,000 Corpses

16467,1997,Alanis Morissette: Jagged Little Pill, Live

16554,1961,Divorce, Italian Style

16597,2001,Hey, Happy!

16648,1924,Aelita, Queen of Mars

16664,1966,Follow Me, Boys!

16713,1994,Corrina, Corrina

16770,1999,Happy, Texas

16819,1966,Paradise, Hawaiian Style

16861,1958,Bell, Book and Candle

16933,1994,Shake, Rattle & Rock

17012,1960,The Three Stooges: Stop, Look and Laugh

17101,1995,Good Men, Good Women

17110,1976,The Hot, The Cool and the Vicious

17167,1994,Dennis Miller - Live from Washington, D.C.

17171,1988,The Chronicles of Narnia: The Lion, the Witch and the Wardrobe

17206,1998,I Love You, Don't Touch Me

17254,1975,Be My Valentine, Charlie Brown

17295,2000,Me, Myself & Irene

17347,2002,Read-Along: Monsters, Inc.

17419,1974,It's the Easter Beagle, Charlie Brown

17573,1981,Fort Apache, the Bronx

17597,1969,They Shoot Horses, Don't They?

17679,1999,Into the Thin Air of Everest: Mountain of Dreams, Mountain of Doom
